body {
    /*background: #2a5393;*/
    background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg') ;
    background-size: auto 100vh;
    font-family: arial;
    /*height: 100vh;*/
  }
  a {
    color: teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .menu {
    background-color:#fff;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  .menu li {
    list-style: none;
  }
  .site-title, .site-subtitle {
    color: whitesmoke;
    text-align: center;
  }
  .site-subtitle{
    font-style: italic;
  }
  
  